.ion-color-physicalActivities {
    --ion-color-base: var(--ion-color-physicalActivities);
    --ion-color-base-rgb: var(--ion-color-physicalActivities-rgb);
    --ion-color-contrast: var(--ion-color-physicalActivities-contrast);
    --ion-color-contrast-rgb: var(--ion-color-physicalActivities-contrast-rgb);
    --ion-color-shade: var(--ion-color-physicalActivities-shade);
    --ion-color-tint: var(--ion-color-physicalActivities-tint);  
}