.ion-color-dishes {
    --ion-color-base: var(--ion-color-dishes);
    --ion-color-base-rgb: var(--ion-color-dishes-rgb);
    --ion-color-contrast: var(--ion-color-dishes-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dishes-contrast-rgb);
    --ion-color-shade: var(--ion-color-dishes-shade);
    --ion-color-tint: var(--ion-color-dishes-tint);  
}
/* Agrega bordes redondeados al modal */
ion-modal {
    --height:80%;
    --width:40%;
  }
 

.element.style {
    background: #0081f1;
}

  .custom-modal-content {
    background-color: #ffcc00; /* Cambia este valor al color deseado */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  /* Ajusta el padding interno del modal */
  .ion-modal .modal-wrapper {
    padding: 20px;
  }

  /* global.css */

/* Personaliza el scroll vertical */
::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #444;
  }
  
  /* Personaliza el scroll horizontal (si es necesario) */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    
  }


/* ModalAddDishes.css */

/* Estilo para el contenido del modal */
#modal-content {
    overflow: auto; /* Asegura que el contenido sea desplazable */
    max-height: 70vh; /* Establece una altura máxima para el contenido */
  }
  
  /* Personaliza el scroll */
  #modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
  }
  
  #modal-content::-webkit-scrollbar-thumb {
    background-color: #999; /* Color del thumb del scroll */
    border-radius: 4px; /* Bordes redondeados para el thumb */
  }
  
  #modal-content::-webkit-scrollbar-track {
    background-color: #eee; /* Color del track del scroll */
    border-radius: 4px; /* Bordes redondeados para el track */
  }