#div-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#div-menu {
    height: 100%;
    width: 19%;
}

#IonGrid {
}

#IonRow {
}

#IonCard {
}

.div-content {
    width: 100%;
    height: 100%;
}

.RowModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

.IonPopover {
    --backdrop-opacity: 0;
}

#PlatillosTitle {
    color: #F2CE1B;
}

[data-column-id="topDishes"].rdt_TableCol {
    background-color: #F2CE1B;
    color: white;
  }