.ion-color-addictions {
    --ion-color-base: var(--ion-color-addictions);
    --ion-color-base-rgb: var(--ion-color-addictions-rgb);
    --ion-color-contrast: var(--ion-color-addictions-contrast);
    --ion-color-contrast-rgb: var(--ion-color-addictions-contrast-rgb);
    --ion-color-shade: var(--ion-color-addictions-shade);
    --ion-color-tint: var(--ion-color-addictions-tint);  
}