.ion-color-dishes {
    --ion-color-base: var(--ion-color-dishes);
    --ion-color-base-rgb: var(--ion-color-dishes-rgb);
    --ion-color-contrast: var(--ion-color-dishes-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dishes-contrast-rgb);
    --ion-color-shade: var(--ion-color-dishes-shade);
    --ion-color-tint: var(--ion-color-dishes-tint);  
}